
img{
    width: 80%;
}
.cartSection img{
    margin-left: 80px;
    width: 50%;
}
#foody{
    background-color: turquoise;
    margin-bottom: 10px;
    padding-top: 5px;
}
.foodSection img{
    
    width: 25%;
}
#order{
    margin-bottom: 20px;
}