.navbar-brand {
    display: flex;
    align-items: center;
  }
  .nav-item {
      font-size: large;
      align-items: stretch;
  }
  .navbar-brand>img {
    padding: 7px 14px;
    width:30%;
  }
  .sign-up{
      background-color:#F91944;
      border-radius: 25px;
      color: white;
  }
  ul li{
    padding-right: 20px;
  }
  #logout{
    background-color: red;
    border-radius: 5px;
    border: none;
    color: white;
  }
  #cartbox{
    background-color: red;
    padding: 5px;
    border-radius: 100%;
    border: none;
    color: white;
  }
  